.navbar {
	display: flex;
	justify-content: flex-start;
	padding: 10px 0px;
}

.item {
	width: 160px;
	padding: 20px 40px;
	color: yellow;
	background-color: #000;
}

.title {
	flex-grow: 1;
}
.root {
	flex-grow: 1;
	margin-bottom: 1rem;
}
